[Unit]
Description=Brandio Server API

[Service]
ExecStart=/var/lib/brandio/api-bin
User=root
Restart=always
Environment="API_ASSETS=/data"
Environment="API_PORT=1451"
Environment="BASE_URL=https://api.brandio.id"
Environment="DATABASE_URL=postgresql://postgres:Sag2025Sukses!@localhost:5432/brandio"
Environment="JWT_SECRET=brandio"
Environment="LOG_LEVEL=debug"
Environment="SMTP_FROM=info@mail.brandio.id"
Environment="SMTP_HOST=smtp.resend.com"
Environment="SMTP_PASS=re_GqtD6VSL_JnfYfBKeKzSmuPceaYhdKjAh"
Environment="SMTP_PORT=587"
Environment="SMTP_USER=brandio"
Environment="STREAM_PORT=1452"
Environment="WEB_URL=https://brandio.id"

[Install]
WantedBy=multi-user.target